body{

    background: linear-gradient(to right, red 0%, blue 100%);
font-family: "Noto Sans JP", sans-serif;
font-weight: weight;
  font-style: normal;
}

.box{
width: 80%;
margin: auto;
background-color: white;
padding: 20px;
box-shadow: 0 0 10px rgb(19, 19, 19);
border: 22px solid rgb(188, 183, 183);
border-radius: 32px;

}







a{
text-decoration: none;
color: inherit;

}